* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;


}

#menu {
	text-align: center;
	background-color:#F2391D;
	width: 100%;
	height: 15%;
	position: absolute;
 
}



.linkmenu {
	margin: 5%;
	text-decoration: none;
	font-size: 32px;
	color: #000000;
    

}



#rodape {
  width:100%;
  height:30%;
  bottom: 0;
  position: absolute;
  background-color: #F2391D;


  


}


.textorodape {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-ThinItalic-webfont.woff') format('woff'),
         url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); under the Apache Software License. 
    font-weight: 200;
    font-style: italic;
    font-size: 12px;

}



body {
	background-color: #F5DFCA;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;

}


.container {
	width: 50%;
	height: 35vh;
	position: absolute;
	align-items: center;
	text-align: center;
	position: absolute;
	top: 25%;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);





}


.form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: ;
  padding: 3rem;
}


.form-header {
	margin-bottom: 3rem;
	display: flex;
	justify-content: space-between;


}

.login-button {
	display: flex;
	align-items: center;

}

.login-button button {
	border: none;
	background-color: crimson;
	padding: 0.4rem 1rem;
	border-radius: 5px;
	cursor:pointer;

}

.login-button button:hover {
	background-color: ;
}

.login-button button a {
	text-decoration: none;
	font-weight: 500;
}

.input-box {
	text-align: center;

}

.form-header h1::after {
	content: '';
	display: block;
	width: 5rem;
	height: 0.3rem;
	margin: auto;
}