* {
	padding: 0;
	margin: 0;

}

#menu {
	text-align: center;
	background-color:#F2391D;
	width: 100%;
	height: 15%;
	position: absolute;
    top: 1px;
}



.linkmenu {
	margin: 5%;
	text-decoration: none;
	font-size: 32px;
	color: #000000;
    

}

a:hover {
	background-color:#000000;
}


#rodape {
  width:100%;
  height:30%;
  bottom: 0;
  position: absolute;
  background-color: #F2391D;


  


}

body {
	background-color: #F5DFCA;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;






}

.slider {
    margin: 0 auto;
    width: 600px;
    height: 300px;
    overflow: hidden;
    top: 43%;
  

}

.slides {
    width: 600%;
    height: 300px;
    display: flex;

top: 43%;
 
}

.slides input {
    display: none;


}

.slide {
width: 25%;
position: relative;
transition: 2s;
}

.slide img {
    width: 600px;
}

.manual-navigation {
    position: absolute;
    width: 600px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
border: 2px solid white;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;

}

.manual-btn:not(:last-child) {
    margin-right: 40px;

}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}

#radio6:checked ~ .first {
    margin-left: -125%;
}





.navigation-auto{
    position: absolute;
    width: 600px;
    margin-top: 360px;
    display: flex;
    justify-content: center;

}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

#radio5:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

#radio6:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}









.textorodape {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-ThinItalic-webfont.woff') format('woff'),
         url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); under the Apache Software License. 
    font-weight: 200;
    font-style: italic;
    font-size: 12px;

}







